<link rel="stylesheet" href="/styles/create.css">
<header>
    <h1>Criando receita</h1>
    <form method="post" action="/receitas?_method=DELETE"><input type="hidden" name="id" value="{{receita.id}}"><button type="submit">Deletar</button></form>
    <button type="submit" form="change_values">Salvar receita</button>
</header>

<form id="change_values" method="POST" action="/receitas?_method=PUT">
<input type="hidden" name="id" value={{receita.id}}>
    <div class="card">
        <div class="info">
            <div>Nome da receita</div>
            <div><input type="text" name="title" placeholder="Nome"  value="{{receita.title}}"></div>
            
        </div>
        <div class="info">
            <div>Imagem da receita</div>
            <div><input type="url" name="image_url" placeholder="http://" value="{{receita.image_url}}"></div>
        </div>
        <div class="info">
            <div>Ingredientes</div>
            <div id="ingredients">
                <div class="ingredient">
                    {% if receita.ingredients != '' %}
                        {% for ingredients in receita.ingredients %}
                            <input type="text" name="ingredients"  placeholder="Ingredientes" value="{{ingredients}}"/>
                        {% endfor %}
                    {% endif %}
                    {% if receita.ingredients == '' %}
                        {% for ingredients in receita.ingredients %}
                            <input type="text" name="ingredients" placeholder="Ingredientes" value="{{ingredients}}">
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <button type="button" class="add-ingredient">Novo ingrediente</button>
        </div>
        <div class="info">
            <div>Modo de preparo</div>
            <div id="prepare">
                <div class="prepare">
                    {% if receita.ingredients != [] %}
                        {% for prepare in receita.prepare %}
                            <input type="text" name="prepare" placeholder="Modo de Preparo" value="{{ prepare }}" />
                        {% endfor %}
                    {% endif %}
                    {% if receita.ingredients == [] %}
                        <input type="text" name="prepare" placeholder="Modo de preparo">
                    {% endif %}
                </div>
            </div>
            <button type="button" class="add-prepare">Novo Passo</button>
        </div>
        <div class="info">
            <div>Informações adicionais</div>
            <div>
                <textarea name="informations" cols="30" rows="10" >{{receita.informations}}</textarea>
            </div>
        </div>
    </div>
    
</form>
<script src="/scripts/ingredient.js"></script>
<script src="/scripts/prepare.js"></script>