{% extends "layout.njk" %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="/styles/receita.css">
    <div class="receita" id="{{receita.id}}">

        <div class="title">
            <a><img src="{{receita.image_url}}" alt="{{receita.title}}"></a>
            <h3 id="{{receita.title}}">{{receita.title}}</h3>
            <p id="{{receita.author}}">{{receita.author}}</p>
        </div>
        
        <button id="edit">Editar</button>
        <div class="description">
            <h1>Ingredientes</h1>
            <div class="ingredients">
                {% for ingredient in receita.ingredients %}
                    <li>{{ingredient}};</li><br>
                {% endfor %}
            </div>
            <h1>Modo de preparo</h3>
            <div class="prepare">
                    {% for prepare in receita.prepare %}
                        <li>{{prepare}};</li><br>
                    {% endfor %}
            </div>
            <h1>Informações adicionais</h1>
            <div class="informations">
                <p>{{receita.informations}}</p>
            </div>
        </div>
    </div>
    <script src="/scripts/editRedirect.js"></script>
    <script src="/scripts/pageActive.js"></script>
{% endblock content %}
