<link rel="stylesheet" type="text/css" href="/styles/cards.css">
<link rel="stylesheet" type="text/css" href="/styles/admin.css">
<nav>
    <a href="/"><img src="/assets/logo.png" alt=""></a>
    <div class="links">
        <a href="/admin/recipes">Receitas</a>
        <a href="/admin/chefs">Chef</a>
    </div>
</nav>
<body>
    {% block content %}{% endblock content %}
</body>