{% extends "./admin_layout.njk" %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="/styles/chef.css">
    <div class="chef" id="{{chef.id}}">
        <div class="details">
            <h2>Chef: {{chef.name}}</h2>
            <button id="edit">Editar chef</button>
        </div>
        <div class="title">
            <a><img src="{{chef.avatar_url}}" alt="{{chef.name}}"></a>
            <h3 id="{{chef.name}}">{{chef.name}}</h3>
            <p>{{chef.total_recipes}}</p>
        </div>
        <section class="cards">
            {% for receita in receitas %}
                <div class="card" id="{{receita.id}}">
                    <img src="{{receita.image}}" alt="{{receita.title}}">
                    <div class="only__title">
                        <h3 id="{{receita.title}}">{{receita.title}}</h3>
                    </div>
                </div>
            {% endfor %}
        </section>
    </div>
    <script>
        const cards = document.querySelectorAll(".card");
        for (let card of cards) {
            card.addEventListener("click", () => {
                const recipeId = card.getAttribute("id")
                window.location.href = `/receitas/${recipeId}`
            })

        }
    </script>
    <script src="/scripts/editRedirectChef.js"></script>
    <script src="/scripts/pageActiveAdmin.js"></script>
{% endblock content %}