{% extends "layout.njk" %}
{% block content %}
    <section class="cards chefs">
        {% for chef in chefs %}
            <div class="card chef" id="{{chef.id}}">
                <img src="{{chef.avatar_url}}" alt="{{chef.name}}" class="chef">
                <div>
                    <h3 id="{{chef.name}}">{{chef.name}}</h3>
                    <h5>{{chef.total_recipes}} receitas</h5>
                </div>
            </div>
        {% endfor %}
    </section>
    <script src="/scripts/redirectChef.js"></script>
{% endblock content %}