{% extends "../admin/admin_layout.njk" %}

{% block content %}
<link rel="stylesheet" href="/styles/create.css">

<form id="create_recipe" action="/chefs" method="POST">
    <header class="top">
        <h1>Criando chef</h1>
        <button type="submit" form="create_recipe" style="background-color:#7154c1">Salvar chef</button>
    </header>
    <div class="inputs">
        <div class="info">
            <div>Nome do(a) Chef</div>
            <div><input type="text" name="name" placeholder="Nome"></div>
        </div>
        <div class="info">
            <div>Imagem do(a) Chef</div>
            <div><input type="url" name="avatar_url" placeholder="http://"></div>
        </div>
    </div>
</form>
<script src="/scripts/ingredient.js"></script>
<script src="/scripts/prepare.js"></script>
<script src="/scripts/pageActiveAdmin.js"></script>
{% endblock content %}