@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*{
    padding: 0;
    margin: 0;
    border: none;
}
body {
    font-family: Roboto;
}
nav{
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 18px;
    background-color: black;
}
nav.top{
    display: grid;
    padding: 23px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: white;
}
nav .links{
    display: flex;
}
nav .links a{
    color: #777;
    font-family: Roboto;
    text-decoration: none;
}
nav .links a.active {
    color:#fff
}
nav .links a + a{
    margin-left: 13px;
}
.top button{
    padding: 13px;
    background-color: black;
    font-family: Roboto;
    font-size: 16px;
    color: #FFFFFF;
    color: white;
    outline: none;
    border-radius: 13px;
}
header{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: black;
}
header.top{
    width: 100%;
    margin-top: 8px;
    margin-bottom: 13px;
    display: grid;
    font-family: Roboto;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: white;
}
header.top h1{
    font-weight: 100;
}
.top button{
    padding: 13px;
    background-color: black;
    color: white;
    outline: none;
    border-radius: 13px;
}