.cards{
    
    display: grid;
    gap: 25px;
    grid-template-columns: 1fr 1fr 1fr;
    width: 66%;
    margin: auto;
   
}

.card{
    margin: auto;
    transition: 0.2s;
    width: auto;
    cursor: pointer;
}
.card .description{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}
.card:hover{
    opacity: 80%;
}

.card img{
    width: 70%;
    border-radius: 13px;
}