@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');
body {
    font-family: Roboto;
}
header{
    padding-top: 32px;
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}
form{
    width: 100%;
}
.inputs{
    width: 100%;
}
.info{
    margin: 32px 25%;
}
.info div:nth-child(1){
    font-size: 18px;
    color: #555;
}
input,
textarea{
    margin-top: 32px;
    margin-bottom: 18px;
    border-radius: 13px;
    outline: none;
    padding: 13px;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    border-radius: 4px;
    width: 100%;
}
textarea {
    resize: vertical;
}
button{
    margin: 0 auto;
    cursor: pointer;
    color: white;
    outline: none;
    padding: 13px;
    border: none;
    border-radius: 13px;
    background-color: #7159c1;
}