.receita{
    width: 100%;
    height: auto;
    text-align: center;
    
    display: flex;
    flex-direction: column;
}
.receita .title img {
    max-width: 45%;
}
.receita .title a{
    text-align: center;
    height: 100%;
    border-radius: 13px;
}
.receita .details {
    width: 70%;
    display: flex;
    align-items: center;
    margin: 0 auto;
}
.receita .details h2{
    width: 50%;
}
.receita .description{
    padding-left: 10%;
    text-align: left;
    width: 80%;
}
.receita .description .ingredients p{
    display: grid;
    grid-template-columns: 1fr;
    
}
.receita .description .prepare p{
    max-width: 100px;
    list-style: circle;
}
li{
    color: black;
    opacity: 80%;
    font-size:16px;
    font-weight: bold;
}
#edit{
    width: 23%;
    background: #6558C3;
    border-radius: 4px;
    border-radius: 4px;
    border: none;
    padding: 13px;
    background-color: #7159c1;
    margin: 23px auto;
    color: #fff;
    outline: none;
    cursor: pointer;
}