<link rel="stylesheet" type="text/css" href="/styles/cards.css">
<link rel="stylesheet" type="text/css" href="/styles/admin.css">
<nav>
    <a href="/"><img src="/assets/logo.png" alt=""></a>
</nav>
<nav class="top">
    <h1>Gerenciar receitas</h1>
    <a href="/admin/create"><button>Criar uma receita</button></a>
</nav>
    <section class="cards">
        {% for food in foods %}
            <div class="card" id="{{food.id}}">
                <img src="{{food.img}}" alt="{{food.title}}">
                <div class="description">
                    <h3 id="{{food.title}}">{{food.title}}</h3>
                    <p id="{{food.author}}">{{food.author}}</p>
                </div>
            </div>
        {% endfor %}
    </section>
<script src="/scripts/redirect.js"></script>