<link rel="stylesheet" type="text/css" href="/styles/cards.css">
<link rel="stylesheet" type="text/css" href="/styles/admin.css">
<nav>
    <a href="/"><img src="/assets/logo.png" alt=""></a>
</nav>
<nav class="top">
    <h1>Gerenciar receitas</h1>
    <a href="/admin/create"><button>Criar uma receita</button></a>
</nav>
    <section class="cards">
        {% for receita in receitas %}
            <div class="card" id="{{receita.id}}">
                <img src="{{receita.image_url}}" alt="{{receita.title}}">
                <div class="description">
                    <h3 id="{{receita.title}}">{{receita.title}}</h3>
                    <p id="{{receita.author}}">{{receita.author}}</p>
                </div>
            </div>
        {% endfor %}
    </section>
<script src="/scripts/redirect.js"></script>