<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/assets/favicon.png" type="image/x-icon">

        <link rel="stylesheet" type="text/css" href="/styles/menu.css">
        <link rel="stylesheet" type="text/css" href="/styles/main.css">
        <link rel="stylesheet" type="text/css" href="/styles/sobre.css">
        <link rel="stylesheet" type="text/css" href="/styles/cards.css">
        <link rel="stylesheet" type="text/css" href="/styles/receita.css">
        

        {% block title %}
            <title>Foodfy</title>
        {% endblock title %}

    </head>
    <body>
        <header>
            <a href="/"><img src="/assets/logo1.png" alt=""></a>
            <div class="links">

                <a href="/sobre">Sobre</a>
                <a href="/receitas">Receitas</a>
            </div>
        </header>
        {% block content %}{% endblock content %}
        
    
        <script src="/scripts/redirect.js"></script>
        <script src="/scripts/pageActive.js"></script>
    </body>
</html>