{% extends "layout.njk" %}
{% block content %}
    <section class="cards">
        {% for food in foods %}
            <div class="card" id="{{food.id}}">
                <img src="/assets/{{food.img}}.png" alt="{{food.title}}">
                <div class="description">
                    <h3 id="{{food.title}}">{{food.title}}</h3>
                    <p id="{{food.author}}">{{food.author}}</p>
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock content %}