{% extends "layout.njk" %}
{% block content %}
    <div class="receita" id="{{foods.id}}">

        <div class="title">
            <a><img src="/assets/{{foods.img}}.png" alt="{{foods.title}}"></a>
            <h3 id="{{foods.title}}">{{foods.title}}</h3>
            <p id="{{foods.author}}">{{foods.author}}</p>
        </div>
        <div class="description">
            <h1>Ingredientes</h1>
            <div class="ingredients">
                <p>{{foods.igredients}}</p>
            </div>
            <h1>Modo de preparo</h3>
            <div class="prepare">
                <p>{{foods.prepare}}</p>
            </div>
            <h1>Informações adicionais</h1>
            <div class="informations">
                <p>{{foods.informations}}</p>
            </div>
        </div>
    </div>
{% endblock content %}